<%-include('header')-%>
<div class="mainhead">
    <div class="row" id="luxdiv">
        <div class="col-6 col-md-6 "><span  id="luxury">WELCOME TO HOME PAGE</span></div>
        <div class="col-6 col-md-6" id="login1">
            <form action="/signout" role="search" class="d-flex justify-content">
                <button class="btn btn-success text-white " id="btnso" type="submit"><span id="span1">Sign Out</span></button>
            </form>
      </div>
    </div>
    </div>
<%-include('footer')-%>







